body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.google_logo {
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 25px;
  pointer-events: none; 
  user-select: none;    
}

input {
  width: 500px;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 24px;
  border: 1px solid #dcdcdc;
  outline: none;
}

input:focus {
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

.buttons {
  margin-top: 25px;
}

button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  padding: 10px 16px;
  margin: 0 6px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  border: 1px solid #dadce0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; 
}
